In [2]:
#%% import
import netCDF4 as nc
from typing import Optional
import numpy as np
import pandas as pd
import configparser
from sqlalchemy import create_engine, text
import psycopg2
from pathlib import Path
import os
import sys
# import writeMeteoModel2db
from writeMeteoModel2db import get_engine, write_centroids_in_db, add_geom_column,find_entrys_wo_weatherdata,find_places_from_meta,add_index_weatherdata,create_table_weatherdata,find_missing_years_and_fill,get_weatherdata_from_model,get_coords_weathermodel,write_weatherdata_into_db,mark_ts_entries_with_wm_index


# import energyants
sys.path.append(r'C:\Users\agoldmaier\Documents\GitLabFhG\energyants')
from energyants.meteo.models.era5land.model import Era5Land 
from energyants.meteo.models.sarah3.model import SARAH3

In [8]:
print('start')
## Variables snh data4grid
db_name_data = 'last_secure'
db_name_weather = 'last'
dataset_ts = 'smartmeter_data4grid_snh'
dataset_meta = 'smartmeter_data4grid_snh_meta'
dataset_id = 'id'
dataset_time_column = 'time'
dataset_ix_wm = 'id_era5_land'
table_weathermodel = 'era5_land_centroid_deu_landpixel'
table_wm_index = 'id_era5_land'
tablename_weatherdata = 'era5_land'
name_geom_column = 'geom'

start

In [ ]:
print('start')
## Variables snh
db_name_data = 'last_secure'
db_name_weather = 'last'
dataset_ts = 'smartmeter_snh'
dataset_meta = 'smartmeter_snh_meta'
dataset_id = 'id'
dataset_time_column = 'time'
dataset_ix_wm = 'id_era5_land'
table_weathermodel = 'era5_land_centroid_deu_landpixel'
table_wm_index = 'id_era5_land'
tablename_weatherdata = 'era5_land'
name_geom_column = 'geom'

In [2]:
print('start')
## Variables openmeter
db_name_data = 'last'
db_name_weather = 'last'
dataset_ts = 'openmeter_measurement_ts'
dataset_meta = 'openmeter_meta_mit_erz'
dataset_id = 'sensor_id'
dataset_time_column = 'start_time'
dataset_ix_wm = 'id_era5_land'
table_weathermodel = 'era5_land_centroid_deu_landpixel'
table_wm_index = 'id_era5_land'
tablename_weatherdata = 'era5_land'
name_geom_column = 'geom_plz'

start

In [ ]:
print('start')
## Variables wpuq
db_name_data = 'last'
db_name_weather = 'last'
dataset_ts = 'wpuq_ts'
dataset_meta = 'wpuq_meta'
dataset_id = 'id'
dataset_time_column = 'time'
dataset_ix_wm = 'id_era5_land'
table_weathermodel = 'era5_land_centroid_deu_landpixel'
table_wm_index = 'id_era5_land'
tablename_weatherdata = 'era5_land'
name_geom_column = 'geom'

In [ ]:
print('start')
## Variables wpuq
db_name_data = 'last'
db_name_weather = 'last'
dataset_ts = 'wpuq_ts'
dataset_meta = 'wpuq_meta'
dataset_id = 'id'
dataset_time_column = 'time'
dataset_ix_wm = 'id_era5_land'
table_weathermodel = 'era5_land_centroid_deu_landpixel'
table_wm_index = 'id_era5_land'
tablename_weatherdata = 'era5_land'
name_geom_column = 'geom'

In [4]:
# Verbindung DB Lastdaten
engine_data = get_engine(db_name_data)

# Verbindung DB Lastdaten
if db_name_weather == db_name_data:
        engine_weather = engine_data
else:
        engine_weather = get_engine(db_name_weather)

In [ ]:
## 0.1 Lookuptable der Wettermodellcentroide in die Datenbank schreiben
# filepath=r"C:\Users\agoldmaier\Documents\meteoData\ERA5_Land_grid.nc"
# write_centroids_in_db(filepath,table_weathermodel,engine_data)
# print('0.1 done')

In [ ]:
## 0.2 Geometriespalte in Metadata hinzufügen
# add_geom_column(dataset_meta,engine_data)
# print('0.2 done')
# name_geom_column = 'geom_plz'

In [9]:
## 1. Wetterdatenindex zu Metadaten hinzufügen, wenn noch nicht vorhanden
add_index_weatherdata(dataset_meta,dataset_id,dataset_ix_wm,table_weathermodel,table_wm_index,engine_data,column_geom=name_geom_column)
print('1. done')

<class 'pandas.core.frame.DataFrame'>
   id
0  49
1  50
2  51
3  63
4  64

         UPDATE smartmeter_data4grid_snh_meta
         SET id_era5_land_neu = closest_table2_id
         FROM
            (SELECT  smartmeter_data4grid_snh_meta.id AS table1_id,
                    ( SELECT era5_land_centroid_deu_landpixel.id_era5_land
                        FROM era5_land_centroid_deu_landpixel
                        ORDER BY smartmeter_data4grid_snh_meta.geom <-> era5_land_centroid_deu_landpixel.geom
                        LIMIT 1
                    ) AS closest_table2_id
            FROM (SELECT *
                  FROM smartmeter_data4grid_snh_meta
                  WHERE id_era5_land_neu IS NULL
                  ) as smartmeter_data4grid_snh_meta
            ) as dist
         WHERE smartmeter_data4grid_snh_meta.id = dist.table1_id
1. done

In [ ]:
## 2. Tabelle für Wetterdaten erzeugen, wenn noch nicht vorhanden
create_table_weatherdata(tablename_weatherdata,engine_weather)
print('2. done')

In [4]:
## 3. In Zeitreihendaten prüfen, für welche Orte und Zeitstempel noch keine Wetterdaten zugeordnet sind.
entrys_wo_weather = find_entrys_wo_weatherdata(dataset_ts,dataset_meta,dataset_id,dataset_time_column,dataset_ix_wm,engine_data)
print('3. done')
print(entrys_wo_weather.head())

            SELECT
                data.id as id, min(data.time at time zone 'UTC') as mintime,
                  max(data.time at time zone 'UTC') as maxtime, meta.ix_era5_land as index_wm
            FROM public.smartmeter_data4grid_snh as data, public.smartmeter_data4grid_snh_meta as meta
            WHERE data.ix_era5_land IS NULL AND data.id = meta.id
            GROUP BY data.id, index_wm;

3. done
   id             mintime             maxtime  index_wm
0   1 2016-12-31 23:00:00 2021-09-30 21:30:00   1310500
1   2 2016-12-31 23:00:00 2019-08-02 07:00:00   1310500
2   3 2016-12-31 23:00:00 2019-06-24 11:15:00   1310500
3   4 2016-12-31 23:00:00 2021-09-30 21:30:00   1310500
4   5 2016-12-31 23:00:00 2021-09-30 21:30:00   1310500

In [6]:
## 4. In Wetterdatentabelle prüfen, welche der fehlenden Zeiträume vorhanden sind und welche nicht. 
missingYears = find_missing_years_and_fill(entrys_wo_weather,engine_weather)
print('4. done')
print(missingYears)

missingYears_unique = missingYears[['index_wm','Missing Years']].drop_duplicates()

SELECT DISTINCT EXTRACT(year FROM time) AS year FROM era5_land WHERE index = '1317701' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-15 19:45:00'
result:
     year
0  2018.0
1  2016.0
2  2021.0
3  2017.0
existing_years:
[2018.0, 2016.0, 2021.0, 2017.0]
all_years:
[2016, 2017, 2018, 2019, 2020, 2021]
missing_years:
[2019, 2020]
missing_years_df_temp:
   index_wm  Missing Years
0   1317701           2019
1   1317701           2020
SELECT DISTINCT EXTRACT(year FROM time) AS year FROM era5_land WHERE index = '1314099' AND time >= '2016-12-31 23:00:00' AND time <= '2020-03-04 07:30:00'
result:
     year
0  2018.0
1  2016.0
2  2017.0
existing_years:
[2018.0, 2016.0, 2017.0]
all_years:
[2016, 2017, 2018, 2019, 2020]
missing_years:
[2019, 2020]
missing_years_df_temp:
   index_wm  Missing Years
0   1314099           2019
1   1314099           2020
SELECT DISTINCT EXTRACT(year FROM time) AS year FROM era5_land WHERE index = '1306902' AND time >= '2016-12-31 23:00:00' AND time <= '2020-05-19 03:45:00'
result:
     year
0  2018.0
1  2016.0
2  2017.0
existing_years:
[2018.0, 2016.0, 2017.0]
all_years:
[2016, 2017, 2018, 2019, 2020]
missing_years:
[2019, 2020]
missing_years_df_temp:
   index_wm  Missing Years
0   1306902           2019
1   1306902           2020
SELECT DISTINCT EXTRACT(year FROM time) AS year FROM era5_land WHERE index = '1306900' AND time >= '2016-12-31 23:00:00' AND time <= '2020-12-02 03:45:00'
result:
     year
0  2018.0
1  2016.0
2  2017.0
existing_years:
[2018.0, 2016.0, 2017.0]
all_years:
[2016, 2017, 2018, 2019, 2020]
missing_years:
[2019, 2020]
missing_years_df_temp:
   index_wm  Missing Years
0   1306900           2019
1   1306900           2020
SELECT DISTINCT EXTRACT(year FROM time) AS year FROM era5_land WHERE index = '1306900' AND time >= '2016-12-31 23:00:00' AND time <= '2020-01-12 19:45:00'
result:
     year
0  2018.0
1  2016.0
2  2017.0
existing_years:
[2018.0, 2016.0, 2017.0]
all_years:
[2016, 2017, 2018, 2019, 2020]
missing_years:
[2019, 2020]
missing_years_df_temp:
   index_wm  Missing Years
0   1306900           2019
1   1306900           2020
SELECT DISTINCT EXTRACT(year FROM time) AS year FROM era5_land WHERE index = '1310498' AND time >= '2016-12-31 23:00:00' AND time <= '2020-02-13 10:15:00'
result:
     year
0  2018.0
1  2016.0
2  2017.0
existing_years:
[2018.0, 2016.0, 2017.0]
all_years:
[2016, 2017, 2018, 2019, 2020]
missing_years:
[2019, 2020]
missing_years_df_temp:
   index_wm  Missing Years
0   1310498           2019
1   1310498           2020
4. done
  index_wm Missing Years
0  1317701          2019
1  1317701          2020
0  1314099          2019
1  1314099          2020
0  1306902          2019
1  1306902          2020
0  1306900          2019
1  1306900          2020
0  1306900          2019
1  1306900          2020
0  1310498          2019
1  1310498          2020

In [7]:
## 5. Koordinaten der Wettermodelpixel abfragen
coords_wm = get_coords_weathermodel(missingYears_unique['index_wm'],table_weathermodel,engine_weather)
print('5. done')
missingYears_unique = missingYears_unique.merge(coords_wm, left_on='index_wm', right_on='index_wm')

print(missingYears_unique)

5. done
  index_wm Missing Years   lat   lon
0  1317701          2019  53.4  10.1
1  1317701          2020  53.4  10.1
2  1314099          2019  53.5   9.9
3  1314099          2020  53.5   9.9
4  1306902          2019  53.7  10.2
5  1306902          2020  53.7  10.2
6  1306900          2019  53.7  10.0
7  1306900          2020  53.7  10.0
8  1310498          2019  53.6   9.8
9  1310498          2020  53.6   9.8

In [8]:
## 6. Die fehlenden Wetterdaten aus dem Wettermodell abfragen
wd_missing = get_weatherdata_from_model(missingYears_unique)
print('6. done')
print(wd_missing.head())

6. done
                                  t2m  ghi      ws10    index
2019-01-01 00:00:00+00:00  280.119669  0.0  5.400709  1317701
2019-01-01 01:00:00+00:00  280.282822  0.0  5.705382  1317701
2019-01-01 02:00:00+00:00  280.397748  0.0  5.884909  1317701
2019-01-01 03:00:00+00:00  280.477785  0.0  6.026917  1317701
2019-01-01 04:00:00+00:00  280.631704  0.0  6.310211  1317701

In [9]:
## 7. Die Wetterdaten in die Datenbank schreiben
write_weatherdata_into_db(wd_missing,tablename_weatherdata,engine_weather)
print('7. done')

                                  t2m  ghi      ws10    index
2019-01-01 00:00:00+00:00  280.119669  0.0  5.400709  1317701
2019-01-01 01:00:00+00:00  280.282822  0.0  5.705382  1317701
2019-01-01 02:00:00+00:00  280.397748  0.0  5.884909  1317701
2019-01-01 03:00:00+00:00  280.477785  0.0  6.026917  1317701
2019-01-01 04:00:00+00:00  280.631704  0.0  6.310211  1317701
7. done

In [5]:
# Fällt weg wegen Performance (Datenbank stürzt ab, bei der Menge der Anfragen)
## 8. Alle Einträge aus 3. mit index aus Wettermodell versehen, damit klar ist, dass die Wetterdaten vorhanden sind.
# mark_ts_entries_with_wm_index(entrys_wo_weather,dataset_ts,dataset_id,dataset_time_column,engine_data)
# print('8. done')

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '1' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '2' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-02 07:00:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '3' AND time >= '2016-12-31 23:00:00' AND time <= '2019-06-24 11:15:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '4' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '5' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '6' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '7' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '8' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '9' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '10' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '11' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '12' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '13' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '14' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '15' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '16' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '17' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '18' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '19' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '20' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '21' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '22' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '23' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '24' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '25' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-15 19:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '26' AND time >= '2016-12-31 23:00:00' AND time <= '2021-04-21 03:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '27' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 12:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '28' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '29' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 03:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '30' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 07:15:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '31' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '32' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 11:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '33' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 10:15:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '34' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '35' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 08:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '36' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '37' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 09:00:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '38' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 03:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '39' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 03:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '40' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '41' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 11:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '42' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '43' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 14:00:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '44' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 03:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '45' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '46' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '47' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-24 03:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '48' AND time >= '2016-12-31 23:00:00' AND time <= '2018-07-30 21:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '49' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '50' AND time >= '2016-12-31 23:00:00' AND time <= '2019-08-19 20:00:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '51' AND time >= '2016-12-31 23:00:00' AND time <= '2020-08-23 07:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '52' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '53' AND time >= '2016-12-31 23:00:00' AND time <= '2019-09-27 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '54' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '55' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '56' AND time >= '2016-12-31 23:00:00' AND time <= '2020-07-25 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '57' AND time >= '2016-12-31 23:00:00' AND time <= '2017-03-24 03:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '58' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '59' AND time >= '2016-12-31 23:00:00' AND time <= '2019-05-27 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '60' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '61' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '62' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314102
                WHERE data.id = '63' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314102
                WHERE data.id = '64' AND time >= '2016-12-31 23:00:00' AND time <= '2021-04-13 15:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314102
                WHERE data.id = '65' AND time >= '2016-12-31 23:00:00' AND time <= '2021-08-02 16:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1317701
                WHERE data.id = '66' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-15 19:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1317700
                WHERE data.id = '67' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1317700
                WHERE data.id = '68' AND time >= '2016-12-31 23:00:00' AND time <= '2020-02-04 08:00:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '69' AND time >= '2016-12-31 23:00:00' AND time <= '2021-08-07 00:00:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '70' AND time >= '2016-12-31 23:00:00' AND time <= '2019-09-25 11:00:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '71' AND time >= '2016-12-31 23:00:00' AND time <= '2021-04-13 15:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '72' AND time >= '2016-12-31 23:00:00' AND time <= '2019-12-11 07:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '73' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '74' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '75' AND time >= '2016-12-31 23:00:00' AND time <= '2019-06-27 07:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314100
                WHERE data.id = '76' AND time >= '2016-12-31 23:00:00' AND time <= '2020-04-13 19:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314099
                WHERE data.id = '77' AND time >= '2016-12-31 23:00:00' AND time <= '2020-03-04 07:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '78' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '79' AND time >= '2016-12-31 23:00:00' AND time <= '2020-10-29 08:00:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '80' AND time >= '2016-12-31 23:00:00' AND time <= '2020-02-16 11:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '81' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '82' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-15 19:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '83' AND time >= '2016-12-31 23:00:00' AND time <= '2021-07-15 19:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '84' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '85' AND time >= '2016-12-31 23:00:00' AND time <= '2021-07-15 19:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1314101
                WHERE data.id = '86' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310502
                WHERE data.id = '87' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-15 19:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '88' AND time >= '2016-12-31 23:00:00' AND time <= '2019-07-15 06:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '89' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310502
                WHERE data.id = '90' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310502
                WHERE data.id = '91' AND time >= '2016-12-31 23:00:00' AND time <= '2018-08-08 08:15:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '92' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '93' AND time >= '2016-12-31 23:00:00' AND time <= '2021-04-13 19:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '94' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '95' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '96' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '97' AND time >= '2016-12-31 23:00:00' AND time <= '2018-12-20 14:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '98' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '99' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '100' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310501
                WHERE data.id = '101' AND time >= '2016-12-31 23:00:00' AND time <= '2020-12-08 09:45:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '102' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '103' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '104' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500
                WHERE data.id = '105' AND time >= '2016-12-31 23:00:00' AND time <= '2021-09-30 21:30:00'

UPDATE smartmeter_data4grid_snh as data
                SET ix_era5_land = 1310500

In [6]:
# Datenbankverbindung schließen
engine_data.dispose()
engine_weather.dispose()
print('finish')

finish